# - cổng lắng nghe của api gateway (http)
PORT=3000

# - cấu hình kết nối cơ sở dữ liệu postgresql
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgrespassword

# - cấu hình bảo mật jwt
JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_REFRESH_EXPIRES_IN=7d

# - cấu hình kết nối redis
REDIS_HOST=localhost
REDIS_PORT=6380
REDIS_PASSWORD=

# - cấu hình kết nối rabbitmq
RABBITMQ_URL=amqp://guest:guest@localhost:5672
ORDER_QUEUE=order_queue
INVENTORY_QUEUE=inventory_queue
NOTIFICATION_QUEUE=notification_queue

# - cấu hình kết nối tcp microservices
AUTH_SERVICE_HOST=127.0.0.1
AUTH_SERVICE_PORT=3004
ORDER_SERVICE_HOST=127.0.0.1
ORDER_SERVICE_PORT=3001

# - cấu hình mặc định rbac & tài khoản quản trị viên
DEFAULT_ADMIN_ROLE=ADMIN
DEFAULT_CUSTOMER_ROLE=CUSTOMER
DEFAULT_ADMIN_EMAIL=admin@gmail.com
DEFAULT_ADMIN_PASSWORD=123456
DEFAULT_ADMIN_NAME=Quản Trị Viên Hệ Thống
